@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


body {
    margin: 0;
    padding: 0;
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.container {
    width: 1600px;
    margin: auto;
    /*background: #08cc0f;*/
    box-shadow: 1px 0px 1px 1px #DCDCDC, -1px -1px 1px 1px #DCDCDC;
}

.padding-site {
    padding-left: 230px;
    padding-right: 230px;
}
.header {
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    width: 165px;
    text-transform: uppercase;
    background-blend-mode: overlay;
    font-size: 27px;
    color:#222222;
    text-decoration: none;
    margin-right: 30px;
    &:hover {
        text-shadow: 1px 1px 1px #a4a4a4;
    }
    
}
a .logo {
    color:#222222;
    text-decoration: none;
    
}

.logo img {
    margin-right: 10px;
    transition-duration: 2s;
    &:hover {
        transition-duration: 2s;
        transform: rotate(400grad);
    }
}


.logo span {
    color: #f16d7f;
    font-weight: 700;
}

.search {
    height: 37px;
    display: flex;
    align-items: center;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    font-size: 14px;
    
}


.collapse {
    display: none;
    background-color: #f9f9f9 ;   
}

.search__browse {
    padding-left: 10px;
    background-color: #f9f9f9;
    line-height: 38px;
    border: none;
    color: #7c7c7c;
    outline: none;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 3px 0 0 3px;
    transition-duration: .3s;
    &:hover {
        cursor: pointer;
        background-color: #e7e7e7;
    }

}

.BrowsedropDownmenu {
    position: absolute;
    height: 530px;
    width: 262px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #eeeeee ;
    top: 69px;
    left: 425px;
    display: none;
    overflow: scroll;
    h1 {
        color: #232323;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase;
        letter-spacing: 0.35px;
        margin: 0;
        margin-left: 15px;
        margin-top: 10px;

        
    }
    .dropline {
        width: 236px;
        height: 1px;
        background-color: #e8e8e8;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    a {
        color: #4f4f4f;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px;
        text-decoration: none;
        line-height: 21px;
        margin-left: 20px;
    }

}

.collapse:checked + label + .BrowsedropDownmenu {
    display: flex;
    z-index: 1;
}

.search__browse i {
    color: #838383;
    padding-right: 15px;
}

.header .search input {
    height: inherit;
    border: none;
    outline: none;
    overflow: hidden;
    padding: 14px 16px;
    border-right: 1px solid #e6e6e6;
}



.header .search button {
    border: none;
    outline: none;
    height: inherit;
    background: none;
    padding: 12px;
    color: #a4a4a4;
    transition-duration: .3s;
    &:hover {
        background-color: #e2e1e1;
    }
}

.header__cart {
    margin-left: auto;
    margin-right: 26px;
    transition-duration: 0.3s;
}

.header__cart:hover {
    transform: scale(1.2, 1.2);
}

.header__account-bar {
    border: none;
    outline: none;
    width: 130px;
    line-height: 38px;
    background-color: #f16d7f;
    padding-left: 19px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    transition-duration: .3s;
}

.header__account-bar:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}


.headerLine {
    border-bottom: 1px solid #ececec;
}



.topNav {
    height: 51px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topNav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
    transition-duration: .3s;
}

.topNav a:not(:last-child) {
    margin-right: 46px;
}

.topNav a:hover {
    color: #f16d7f;
}

.topBanner {
    background-color: #e8e8e8;
    height: 613px;
    overflow: hidden;
}

.theBrand {
    width: 485px;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
    margin-top: 224px;
    float: left;
}

.theBrand {
    color: #222222;
    font-family: Lato;
    font-size: 60px;
    letter-spacing: 1.5px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
}

.theBrand p {
    color: #222222;
    font-family: Lato;
    font-size: 38px;
    letter-spacing: 1.5px;
    font-weight: 700;
    text-transform: uppercase;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 1px;
    line-height: 38px;
}

.theBrand .fashion {
    color: #f16d7f;
    letter-spacing: 1px;
    font-family: Lato;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    height: 40px;
}

.curlyman {
    float: right;
    height: 1000px;
    overflow: hidden;
}


.offer {
    height: 823px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 98px;
   
}

.offer a {
    transition-duration: .3s;
}

.offer a:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.formen {
    background-image: url(../img/offer1.jpg);
    position: relative;
    width: 560px;
    height: 542px;
    
}

.mark-formen {
    position: absolute;
    height: 82px;
    width: 175px;
    top: 26px;
    background-color: #ffffff;
}

.accesoires {
    width: 560px;
    height: 261px;
    position: relative;
    background-image: url(../img/offer2.jpg);
    margin: 0;
}

.mark-accesoires {
    position: absolute;
    height: 82px;
    width: 225px;
    top: 26px;
    background-color: #ffffff;
}

.women {
    width: 560px;
    height: 261px;
    position: relative;
    background-image: url(../img/offer3.jpg);
}

.mark-women {
    position: absolute;
    height: 82px;
    width: 162px;
    top: 26px;
    background-color: #ffffff;
}

.kids {
    width: 560px;
    height: 542px;
    background-image: url(../img/offer4.jpg);
    position: relative;
}

.mark-kids {
    position: absolute;
    height: 82px;
    width: 180px;
    top: 26px;
    background-color: #ffffff;
}

.mark h6 {
    color: #222222;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    margin-top: 10px;
    margin-left: 19px;
    margin-bottom: 0;
}

.mark h3 {
    font-family: Lato;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
    margin-left: 19px;
    margin-top: 5px;
}

.featured-items {
    height: 982px;
}

.featured-name {
    width: auto;
    display: flex;
    justify-content: center;
    color: #222222;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
    margin-top: 90px;
}

.featured-explain {
    width: auto;
    display: flex;
    justify-content: center;
    color: #9f9f9f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    margin-top: 10px;
    margin-bottom: 59px;
}

.featured-stuff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.t-short {
    margin-bottom: 27px;
    width: 264px;
    height: 370px;
    transition-duration: .3s;
    
    .t-shortImg {
        height: 280px;
        position: relative;
        margin-bottom: 16px;
    }
    
}

.invisibleBlock {
    height: inherit;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    button {
        width: 123px;
        height: 39px;
        border: 1px solid #ffffff; 
        color: #ffffff;
        font-family: Lato;
        font-size: 13px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.16);
    }
}

.t-short:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;


}

.t-short:hover .invisibleBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisiblestars {
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin-top: 10px;
    img {
        visibility: hidden;
    }
}

.t-short:hover .invisiblestars img {
    visibility: visible;
}


.price {
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.mango {
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-left: 16px;
    
}



.featured-browse {
    width: auto;
    display: flex;
    justify-content: center;
    
}

.browsebutton {
    margin-top: 60px;
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.4px;
    text-align: center;
    outline: none;
    border: none;
    transition-duration: .3s;
}

.browsebutton img {
    margin-left: 10px;
}

.browsebutton:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}


.saleForwomen {
    height: 529px;
    margin-top: 132px;
    display: flex;
    margin-bottom: 97px;
}

.girl {
    background: url(../img/bgroundGirl.png) no-repeat, url(../img/girl.jpg) no-repeat;
    width: 767px;
    
}

.girl h1 {
    color: #ffffff;
    font-family: Lato;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
    margin-top: 146px;
    margin-left: 39px;
}

.girl h1 span {
    color: #f16d7f;
}

.girl h3 {
    font-size: 32px;
    letter-spacing: 0.9px;
    color: #ffffff;
    font-family: Lato;
    font-weight: 400;
    margin: 0;
    margin-left: 39px;
}

.options {
    width: 373px;
    background-color: #222224; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.delivery {
    width: 294px;
    height: auto;
}

.delivery h3 {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    width: 204px;
    background-image: url(../img/car.png);
    background-repeat: no-repeat;
    padding-left: 80px;
    line-height: 33px;
    margin: 0;
}

.SalesDiscounts {
    width: 294px;
}

.SalesDiscounts h3 {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    background-image: url(../img/vector-sale.svg);
    background-repeat: no-repeat;
    padding-left: 80px;
    line-height: 38px;
    margin: 0;
}

.quality {
    width: 294px;
}

.quality h3 {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    background-image: url(../img/corona.svg);
    background-repeat: no-repeat;
    padding-left: 80px;
    line-height: 38px;
    margin: 0;
}

.options h6 {
    width: 220px;
    padding-left: 80px;
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    margin: 0;
    line-height: 24px;
}

.subscribe {
    clear: both;
    height: 438px;
    background-image: url(../img/Rectangle_9_copy.png), url(../img/Layer_41.jpg);
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.photo-area {
    width: 800px;
}

.photo-area-text {
    width: 386px;
    height: 85px;
    color: #222224;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.4px;
    margin: 0;
    margin-top: 123px;
    margin-left: 230px;
    background: url(../img/Layer_40.png);
    background-repeat: no-repeat;
    padding-left: 120px;
}

.subscribe-name {
    margin-left: 344px;
}

.subscribe-name h3 {
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin: 0;
}

.subscribe-name h6 {
    color: #222224;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.3px;
    margin: 0;
}

.pagination {
    height: 4px;
    width: 140px;
    display: flex;
    justify-content: space-between;
    margin-left: 345px;
    margin-top: 35px;
}

.pagination-link {
    height: 4px;
    width: 38px;
    background-color: #d6d6d6;
    border-radius: 10px;
} 

.pag-active-link {
    background-color: #f16d7f;
    transition-duration: .3s;
}

.pagination-link:hover {
    background-color: #f16d7f;
}

.line {
    width: 1px;
    height: 100%;
    background-color: #ffff;
}

.subscribe-area {
    margin-left: 95px;
    margin-top: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-area h3 {
    color: #222224;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin: 0;
}

.subscribe-area h6 {
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    line-height: 24px;
    margin: 0;
    margin-top: 10px;
}

.email {
    width: 390px;
    display: flex;
    margin-top: 35px;
}

.email input {
    width: 282px;
    height: 44px;
    background-color: #e1e1e1;
    border-radius: 50px 0 0 50px;
    border-style: none;
    outline: none;
    padding-left: 20px;
    opacity: 0.67;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.35px;
}

.email button {
    background-color: #f16d7f;
    height: 46px;
    width: 104px;
    border-style: none;
    outline: none;
    border-radius: 0 50px 50px 0;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    transition-duration: .3s;
}

.email button:hover {
   box-shadow: 1px 1px 2px 1px #9f9f9f; 
}

.footer {
    height: 458px;
    display: flex;
}

.footer-text {
    width: 428px;
    height: 260px;
    overflow: hidden;
    margin-top: 120px;
}

.footer-text h1 {
    color: #3e3e40;
    font-family: Lato;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.68px;
    margin: 0;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    padding-left: 70px;
    padding-top: 18px;
    
}

.footer-text span {
   font-family: Lato;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    font-weight: 300;
    color: #f16d7f;
    font-weight: 700;
    letter-spacing: 0.68px;
}

.footer-text p {
    width: 427px;
    color: #898989;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.35px;
    margin-top: 20px;
}

.footer-company {
    margin-top: 123px;
    margin-left: 63px;
}

.footer-info {
    margin-top: 123px;
    margin-left: 69px;
}

.footer-shop {
    margin-top: 123px;
    margin-left: 79px;
}

.footer h3 {
    color: #f16d7f;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    margin: 0;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    padding-top: 30px;
    margin: 0;
}

.footer ul li {
    color: #898989;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    letter-spacing: 0.4px;
    line-height: 42px;
    transition-duration: .3s;
}

.footer ul li:hover {
    color: #f16d7f;
}

.footer a {
    text-decoration: none;
    color: #898989;
}

.footer-copyright {
    height: 79px;
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    width: 191px;
    display: flex;
    justify-content: space-around;
}

.facebook {
    height: 32px;
    width: 32px;
    background: url(../img/facebook.png), #ffffff;
    background-repeat: no-repeat;
    background-position: center;
     border-radius: 2px;
     transition-duration: .3s;
}

.twitter {
    height: 32px;
    width: 32px;
    background: url(../img/%EF%82%99.png), #f16d7f;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    transition-duration: .3s;
}

.in {
    height: 32px;
    width: 32px;
    background: url(../img/in.png), #ededed;
    background-repeat: no-repeat;
    background-position: center;
     border-radius: 2px;
     transition-duration: .3s;
}

.pinterest {
    height: 32px;
    width: 32px;
    background: url(../img/pint.png), #ffffff;
    background-repeat: no-repeat;
    background-position: center;
     border-radius: 2px;
     transition-duration: .3s;
}

.google {
    height: 32px;
    width: 32px;
    background: url(../img/google.png), #ffffff;
    background-repeat: no-repeat;
    background-position: center;
     border-radius: 2px;
     transition-duration: .3s;
}

.facebook:hover, .twitter:hover, .in:hover, .pinterest:hover, .google:hover {
    box-shadow: 1px 1px 2px 1px #9f9f9f;
}

.copy {
    color: #7a7a7a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.New-Arrivals {
    height: 148px;
    background-color: #f8f3f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.New-Arrivals .new-arr {
    width: 176px;
    height: 18px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.arrivalsBreadCrumbs, .arrivalsBreadCrumbs a {
    height: 11px;
    font-family: Lato;
    font-size: 14px;
    text-transform: uppercase;
    color: #636363;
    font-family: Lato;
    font-weight: 300;
    text-decoration: none;
    transition-duration: .3s;
}

 .arrivalsBreadCrumbs .menu-active-link {
    color: #f16d7f;
    font-weight: 700;
}

.arrivalsBreadCrumbs h3 {
    margin: 0;
}

.arrivalsBreadCrumbs a:hover {
    color: #f16d7f;
}

.shopping-cart {
    height: 623px;
}

.head-cart {
    width: 1137px;
    height: 12px;
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.first-col {
    padding-right: 300px;
    width: 278px;
}

.cart-firstPosition { 
    margin-top: 45px;
     border-top: 2px solid #f4f4f4;
}

.cartPositions {
    height: 164px;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f4f4f4;
}

.photo-size {
    width: 278px;
    padding-left: 121px;
    margin-right: 150px;
}

.photoFirst {
    background-image: url(../img/firststuff.jpg);
    background-repeat: no-repeat;  
     background-size: contain;
}

.photoSecond {
    background-image: url(../img/secondstuff.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.photoThird {
    background-image: url(../img/thirdstuff.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.photo-size h1 {
    width: 157px;
    height: 11px;
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.photo-size h3 {
    color: #6f6e6e;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    font-family: Lato;
    margin: 0;
}

.photo-size h3 span {
    font-weight: 300;
}

.cart-price {
    color: #656565;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
}

.quantity {
    width: 54px;
    height: 30px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #656565;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    outline: none;
    text-align: center;
    transition-duration: .3s;
}

.quantity:focus::-webkit-input-placeholder {
    color: transparent;
}


.ship {
    color: #656565;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.total {
    color: #656565;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
}

.delete-icon {
    width: 15px;
    height: 15px;
    margin-right: 20px;
    transition-duration: .3s;
}

.delete-icon:hover {
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.payment {
    display: flex;
    height: 350px;
    margin-top: 73px;
    justify-content: space-between;
    
  }
.cart-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    button {
        /* Style for "Rectangle" */
        width: 235px;
        height: 50px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        margin-top: 44px;
        color: #4a4a4a;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        transition-duration: .3s;
        &:hover {
            box-shadow: 1px 1px 2px 1px #9f9f9f; 
        }
    }
    
}

.shipping-adress {
    display: flex;
    flex-direction: column;
    height: 268px;
    width: 355px;
    h1 {
        color: #222222;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
    select {
        width: 355px;
        height: 45px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        appearance: none;
        color: #b1b1b1;
        font-family: Lato;
        font-size: 13px;
        font-weight: 300;
        padding-left: 20px;
        outline: none;
        background-image: url(../img/arrowbottom.png);
        background-repeat: no-repeat;
        background-position: 95% 50%;
        transition-duration: .3s;
        &:focus {
            color: #222222;
            font-family: Lato;
            font-size: 16px;
            font-weight: 400; 
        
        }
    }
    input {
        width: 330px;
        height: 45px;
        margin-top: 20px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        padding-left: 20px;
        transition-duration: .3s;
        &::placeholder {
            color: #b1b1b1;
            font-family: Lato;
            font-size: 13px;
            font-weight: 100;
            outline: none;
        }
        &::-webkit-inner-spin-button {
            appearance: none;
        }
        &::-webkit-outer-spin-button {
            appearance: none;
        }
        &:focus {
            outline: none;
        }

    }
}
.coupon {
    width: 355px;
    height: 184px;
    h1 {
        color: #222222;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
    h3 {
        color: #000000;
        font-family: Lato;
        font-size: 14px;
        font-weight: 300;
    }
    input {
        width: 335px;
        height: 45px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        padding-left: 20px;
        outline: none;
        &::placeholder {
            color: #b1b1b1;
            font-family: Lato;
            font-size: 13px;
            font-weight: 300;
        }
        
    }
    button {
        width: 118px;
        height: 35px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        color: #4a4a4a;
        font-family: Lato;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 25px;
        transition-duration: .3s;
        &:hover {
            box-shadow: 1px 1px 2px 1px #9f9f9f; 
        }
    }
}
.grand-total {
    width: 360px;
    height: 214px;
    background-color: #f5f3f3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h6 {
        color: #4a4a4a;
        font-family: Lato;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        margin-top: 40px;
        margin-right: 41px;
        span {
            margin-left: 15px;
        }
    }
    h1 {
        color: #222222;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        margin-top: 14px;
        margin-right: 41px;

        span {
            color: #f16d7f;
            margin-left: 20px;
            
        }
    }
    div {
        width: 275px;
        height: 1px;
        background-color: #e2e2e2;
        align-self: center;
        margin-top: 22px;
    }
    button {
        width: 273px;
        height: 50px;
        background-color: #f16d7f;
        border: none;
        outline: none;
        align-self: center;
        color: #ffffff;
        margin-top: 17px;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        transition-duration: .3s;
        &:hover {  box-shadow: 1px 1px 2px 1px #9f9f9f; 

        }
    }
}

.checkOut {
    min-height: 1022px;
    display: flex;
    flex-direction: column;
}

.shipAdd {
    margin-top: 80px;
    
    border-top: 1px solid #e8e8e8;
}
.shipAdd .invisibleRadio {
        display: none;
    }

.shipAdd label {
        width: 100%;
        line-height: 72px;
        color: #222222;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }


.shippingAdd-content {
    width: 974px;
    max-height: 0px;
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    overflow: hidden;
    box-sizing: border-box;
}

.shipAdd input:checked +label + .shippingAdd-content {
    max-height: 1000px;
    
}


.asGuestOrRegister {
    width: auto;
    h1 {
        color: #222222;
        font-family: Lato;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    }

    span {
        color: #222222;
        font-family: Lato;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
    
        input[type='radio'] {
        position: relative;
        height: 14px;
        width: 14px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        margin-right: 15px;
        cursor: pointer;
        transition-duration: .3s;
        }

        input[type='radio']::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width:12px;
        height: 12px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 2px solid #555555;
        }

        input[type='radio']:checked::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        border: 2px solid #555555;
        background-color:  #222222;
        transform: translate(-50%, -50%);
        visibility: visible;
}
    }

    p {
        color: #b3b2b2;
        font-family: Lato;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
        margin-top: 15px;
    }
    ul {
        padding: 0;
        margin-left: 20px;
        margin-top: 25px;
    }
    ul li {
        color: #b3b2b2;
        font-family: Lato;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        list-style-image: url(../img/listslyle.png);
        margin: 0;
    }
    button {
        width: 180px;
        height: 50px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        color: #4a4a4a;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 15px;
        transition-duration: .3s;
        &:hover {
            box-shadow: 1px 1px 2px 1px #9f9f9f; 
    }
}
}

.registred {
    width: 391px;
    h1 {
        color: #222222;
        font-family: Lato;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }
    p {
        color: #b3b2b2;
        font-family: Lato;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
    }
    h3 {
        color: #222222;
        font-family: Lato;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        margin: 0;
        margin-top: 15px;
    }
    span {
        color: #ff0d0d;
        font-family: Lato;
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
    }
    input {
        width: 390px;
        height: 45px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        outline: none;
        font-size: 13px;
        padding-left: 10px;
        margin: 0;
        margin-top: 10px;
    }
    h6 {
        color: #ff0d0d;
        font-family: Lato;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
        margin-top: 10px;
    }
    button {
        width: 180px;
        height: 50px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        color: #4a4a4a;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 22px;
        transition-duration: .3s;
        margin-bottom: 20px;
        &:hover {
            box-shadow: 1px 1px 2px 1px #9f9f9f; 
            }
    } 
    a {
        color: #222222;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
        margin-left: 32px;
        transition-duration: .3s;
        &:hover {
            color: #ff0d0d;
            cursor: pointer;

        }
    }
}

.checkOutList{
        width: 100%;
        color: #222222;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 72px;
        text-transform: uppercase;
        margin-bottom: -97px;
        div {
            height: 74px;
            border-top: 1px solid #e8e8e8;
        }
        &:last-child {
            border-bottom: 1px solid #e8e8e8;
        }
}

.mainModel {
    height: 777px;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftPagination {
        height: 47px;
        width: 47px;
        background-color: #d8d8d8;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: .3s;
        &:hover {
            box-shadow: 1px 1px 2px 1px #9f9f9f;
        }
    }
    .rightPagination {
        height: 47px;
        width: 47px;
        background-color: #d8d8d8;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: .3s;
        &:hover {
            box-shadow: 1px 1px 2px 1px #9f9f9f;
        }
    }
}

.relative {
    position: relative;
    .discribeBox {
        position: absolute;
        height: 730px;
        width: 1140px;
        margin: 0;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        left: 229px;
        top: 691px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            color: #f16d7f;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            margin: 0;
            margin-top: 73px;
        }
        .thinline {
            width: 147px;
            height: 1px;
            border: 1px solid #eaeaea;
            display: flex;
            justify-content: center;
            .boldline {
                width: 63px;
                height: 3px;
                background-color: #ef5b70;
            }
        }
        h1 {
            color: #4d4d4d;
            font-family: Lato;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            margin: 0;
            margin-top: 17px;
        }
        p {
            color: #5e5e5e;
            font-family: Lato;
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            margin: 0;
            margin-top: 67px;
            text-align: center;
            width: 618px;
        }
        .materialDesigner {
            width: 334px;
            display: flex;
            justify-content: space-between;
            margin: 0;
            margin-top: 25px;
            div {
                color: #b9b9b9;
                font-family: Lato;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                text-transform: uppercase;
                span {
                    color: #2f2f2f;
                }
            }
        }
        h2 {
            color: #ef5b70;
            font-family: Lato;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            margin: 0;
            margin-top: 37px;
        }
        .boxLine {
            width: 642px;
            height: 1px;
            background-color: #eaeaea;
            margin-top: 43px;
            
        }
        .checkingDetails {
            display: flex;
            width: 538px;
            justify-content: space-between;
        h3 {
            color: #2f2f2f;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
        }
        select {
            width: 144px;
            height: 35px;
            border: 1px solid #eaeaea;
            background-color: #ffffff;
            outline: none;
            color: #bcbcbc;
            font-family: Lato;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            margin-top: 16px;

        }
        input {
            width: 144px;
            height: 33px;
            border: 1px solid #eaeaea;
            background-color: #ffffff;
            color: #222224;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            padding-left: 17px;
            margin-top: 16px;
            outline: none;
             }
        }
        button {
            width: 537px;
            height: 55px;
            border: 1px solid #ef5b70;
            background-color: #ffffff;
            color: #ef5b70;
            font-family: Lato;
            font-size: 16px;
            font-weight: 700;
            margin-top: 28px;
            line-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition-duration: .3s;
            outline: none;
            &:hover {
                box-shadow: 1px 1px 2px 1px #ef5b70;
            }
            img {
                margin-right: 15px;

                

            }
        }
        
    }
    .mayalsoLike {
        margin-top: 763px;
        margin-bottom: 150px;
        .youMay {
            color: #4d4d4d;
            font-family: Lato;
            font-size: 24px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            text-align: center;
        }
        .youMayLikeStuff {
            display: flex;
            justify-content: space-between;
            margin-top: 72px;
            .blacksuit {
                width: 261px;
                height: 280px;
                background-color: #e9e9e9;
                background-size: cover;
                h4 {
                    color: #6f6e6e;
                    font-family: Lato;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 0;
                    margin-top: 18px;
                }
            }
            img {
               margin-left: 80px;
            }
            .longShirt {
                width: 261px;
                height: 280px;
                background-color: #e9e9e9;
                background-size: cover;
                h4 {
                    color: #6f6e6e;
                    font-family: Lato;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 0;
                    margin-top: 5px;
                }
            
            }
            .yellowLook {
                width: 261px;
                height: 280px;
                background-color: #e9e9e9;
                background-size: cover;
                h4 {
                    color: #6f6e6e;
                    font-family: Lato;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 0;
                    margin-top: 25px;
                }
            }
            .sylva {
                width: 256px;
                height: 280px;
                img {
                    margin: 0;
                }
                h4 {
                    color: #6f6e6e;
                    font-family: Lato;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 0;
                    margin-top: 10px;
                }
                
            }
            h5 {
                color: #f16d7f;
                font-family: Lato;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 16px;
            }
            

        }
    }
}

.leftNav {
    float: left;
    width: 243px;
    display: flex;
    flex-direction: column;
    input {
        display: none;
       

    }
    label {
        
        width: 228px;
        cursor: pointer;
        background: url(../img/arrowbottom.png) no-repeat 98% 50%;
        color: #6f6e6e;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 37px;
        border-left: 5px solid #f16d7f;
        border-bottom: 1px solid #ebebeb;
        padding-left: 10px;
        transition-duration: .3s;
        margin-top: 18px;
        &:hover {
            color: #f16d7f;
        }
    }

    input:checked + label {
        color: #ef5b70;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        line-height: 37px;
        text-transform: uppercase;
        background: url(../img/pink_caret.png) no-repeat 98% 50%;
    }
    
    ul {
        margin: 0;
        max-height: 0;
        overflow: hidden;
        transition-duration: .5s;
        list-style-type: none;
        color: #6f6e6e;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 33px;
        li a {
            text-decoration: none;
            color: #6f6e6e;
            transition-duration: .3s;
            &:hover {
                color: #f16d7f;
            }
        }
     }
    input:checked +label + ul {
        max-height: 500px;
    }
}

.productsMain {
   float: right;
   width: 848px;
   margin-bottom: 110px;
}

.settings {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
    .style {
        width: 177px;
        h1 {
            color: #6f6e6e;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 25px;
        }
        button {
            height: 20px;
            color: #6f6e6e;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            line-height: 26px;
            background-color: #fff;
            border-color: #fbfbfb;
            border-bottom: none;
            border-top: none;
            outline: none;
            &:nth-child(3n+1) {
                border-right: none;
            }
            &:hover {
                color: #3e3e40;
                cursor: pointer;
            }
        

        }
    }
    .size h1{
        color: #6f6e6e;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 24px;
        }
    

    .grid {
        display: grid;
        grid-template-columns: 13px 56px 13px 56px 13px 56px;
        label {
            color: #6f6e6e;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
            margin-left: 10px;
        }
    }

    .price {
        width: auto;
         h1 {
            color: #6f6e6e;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            margin: 0;
            }
        img {
            margin-top: 20px;
        }
        div {
            color: #6f6e6e;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
        }


}

.sorterPanel {
    width: inherit;
    height: 50px;
    background-color: #f3f3f3;
    margin-top: 41px;
    .sorter {
        margin-left: 9px;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .sortBy {
            background-color: #ffffff;
            height: 30px;
            width: 153px;
            color: #6f6e6e;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                padding-left: 10px;
            }
           select {
            background-color: #ffffff;
            height: 30px;
            color: #6f6e6e;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            width: 86px;
            outline: none;
            border-right: none;
            border-top: none;
            border-bottom: none;
            border-left: 1px solid #ebebeb;
            padding-left: 10px;
            appearance: none;
            background: url(../img/darkcaretdown.png) no-repeat 90% 50%;

           }
        }
        .shower {
            margin-left: 10px;
            width: 119px;
            height: 30px;
            background-color: #ffffff;
            color: #6f6e6e;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                padding-left: 10px;
            }
           select {
            background-color: #ffffff;
            height: 30px;
            color: #6f6e6e;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            width: 63px;
            outline: none;
            border-right: none;
            border-top: none;
            border-bottom: none;
            border-left: 1px solid #ebebeb;
            padding-left: 10px;
            appearance: none;
            background: url(../img/darkcaretdown.png) no-repeat 90% 50%;

           }
        }
    }
}

.products {
    margin-top: 47px;
}

.invisbuttons {
    width: 123px;
    height: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .addtoCartButton {
        width: 121px;
        height: 38px;
        border-radius: 3px;
        border: 1px solid #ffffff;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    .return {
        width: 57px;
        height: 38px;
        border-radius: 3px;
        border: 1px solid #ffffff;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    .like {
        width: 57px;
        height: 38px;
        border-radius: 3px;
        border: 1px solid #ffffff;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.paginationProduct {
    width: 261px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    color: #c4c4c4;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    span {
        transition-duration: .5s;
        &:hover {
            color: #ef5b70;
            
    }
}

 .activePage {
     color: #ef5b70;
    }
}

.paginationView {
    display: flex;
    justify-content: space-between;
    button {
        width: 150px;
        height: 44px;
        border-radius: 3px;
        border: 1px solid #ef5b70;
        background-color: #ffffff;
        color: #ef5b70;
        font-family: Lato;
        font-size: 16px;
        font-weight: bold;
        line-height: 26px;
        outline: none;
    }
}


.productOptions {
    height: 341px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222224;;
}